extends layout

block content 
  section.parallax_window_in.short(data-parallax='scroll', data-image-src='images/trading-07-banner.jpg', data-natural-width='1400', data-natural-height='400')
    #sub_content_in
      .container
        h1=__("page.my_bitwallet.About Bitwallet")
        p=__("page.my_bitwallet.Customers who deposit")
  #position
    .container
      ul
        li
          a(href='/') Home
        li Bitwallet
  main
    .container.margin_60
      .content-wrapper
        p=__("page.my_bitwallet.Bitwallet is an online")
        p=__("page.my_bitwallet.You can deposit to")
        a.a-hover-white(href='https://secure.bitwallet.com/signup/certification', target='_blank')=__("page.my_bitwallet.Opening Bitwallet account")
