extends layout

block content 
  section.parallax_window_in.short(data-parallax='scroll', data-image-src='images/trading-04-cover.jpg', data-natural-width='1400', data-natural-height='400')
    #sub_content_in
      .container
        h1=__("page.mt5.About MT5")
        p=__("page.mt5.The latest version of") 
  #position
    .container
      ul
        li
          a(href='/') Home
        li MT5
  main
    .bg_content
      .container.margin_60_35
        h3.main_title(style='color: #fff;')
          em
          =__("page.mt5.About The Trading Platform") 
        .wrapper-content
          p.lead.styled
            =__("page.mt5.MT5 (Meta Trader5)")
          p.lead.styled
            =__("page.mt5.There are many functions")
          p.lead.styled
            =__("page.mt5.In addition, since the")
        .row
          .col-md-7.text-center
            img.img-responsive(src='images/trading-03.jpg', style='width:100%', alt='')
          .col-md-5
            ul.list_ok
              li.mt-2
                h4
                p=__("page.mt5.Meta Quotes' latest platform")
              li
                h4
                p=__("page.mt5.8 times more processing")
              li
                h4
                p=__("page.mt5.Display up to 8")
              li
                h4
                p=__("page.mt5.Further enhanced chart function")
              li
                h4
                p=__("page.mt5.High usability in mobile")
        // /row
        hr(style='border:none;')
        p.lead.styled(style='text-align: center;')
          =__("page.mt5.Rev Trading's MT5")
        p.lead.styled(style='text-align: center;')
          =__("page.mt5.Please enjoy the full")
        .download-app.justify-content-center(style='overflow: hidden;')
          a(href='https://apps.apple.com/jp/app/metatrader-5/id413251709', target='_blank')
            img(src='images/appstore.jpg', alt='', width='100%')
          a(href='https://play.google.com/store/apps/details?id=net.metaquotes.metatrader5&hl=ja', target='_blank')
            img(src='images/googleplay.jpg', alt='', width='100%')
          a(href='https://download.mql5.com/cdn/web/11606/mt5/%20revcapitalfund5setup.exe', target='_blank')
            img(src='images/downloadWindow.png', alt='', width='100%')
