extends layout

block content
  #full-slider-wrapper
    #layerslider(style='width:100%;height:600px;')
      // slide 01
      .ls-slide(data-ls='slidedelay: 3500; transition2d:85;')
        img.ls-bg(src='images/banner1.png', alt='Slide background')
        h3.ls-l.slide_typo(style='top:40%; left: 50%;', data-ls='offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;')
          =__("page.index.Revolution in trading")
        p.ls-l.slide_typo_2.slide_typo_custom(style='top:52%; left:50%; text-align: center;', data-ls='durationin:2000;delayin:1000;easingin:easeOutElastic;')
          =__("page.index.Cryptocurrency leverage trading")
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_01(style='top:75%; left:43%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://rev-trading.ltd/')= __("sign_up_mt4") 
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_02(style='top:75%; left:57%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')= __("sign_up_mt5")
      // slide 02
      .ls-slide(data-ls='slidedelay:3500; transition2d:103;')
        img.ls-bg(src='images/banner2.png', alt='Slide background')
        h3.ls-l.slide_typo(style='top:40%; left: 50%;', data-ls='offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;')
           =__("page.index.Revolution in trading")
        p.ls-l.slide_typo_2(style='top:52%; left:50%; text-align: center;', data-ls='durationin:2000;delayin:1000;easingin:easeOutElastic;')
          =__("page.index.Fast crypto currecy deposit and withdraw")
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_01(style='top:75%; left:43%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://rev-trading.ltd/')= __("sign_up_mt4") 
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_02(style='top:75%; left:57%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')= __("sign_up_mt5")
      // slide 03
      .ls-slide(data-ls='slidedelay:3500; transition2d:85;')
        img.ls-bg(src='images/banner3.jpg', alt='Slide background')
        h3.ls-l.slide_typo(style='top:40%; left: 50%;', data-ls='offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;')
           =__("page.index.Revolution in trading")
        p.ls-l.slide_typo_2(style='top:52%; left:50%; text-align: center;', data-ls='durationin:2000;delayin:1000;easingin:easeOutElastic;')
          =__("page.index.The maximum leverage of 200 / No additional margin call")
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_01(style='top:75%; left:43%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://rev-trading.ltd/')= __("sign_up_mt4") 
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_02(style='top:75%; left:57%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')= __("sign_up_mt5")
      // slide 04
      .ls-slide(data-ls='slidedelay:3500; transition2d:103;')
        img.ls-bg(src='images/banner05.jpg', alt='Slide background')
        h3.ls-l.slide_typo(style='top:40%; left: 50%;', data-ls='offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;')
           =__("page.index.Revolution in trading")
        p.ls-l.slide_typo_2(style='top:52%; left:50%; text-align: center;', data-ls='durationin:2000;delayin:1000;easingin:easeOutElastic;')
          =__("page.index.Withdraw cash with prepaid card")
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_01(style='top:75%; left:43%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://rev-trading.ltd/')= __("sign_up_mt4") 
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_02(style='top:75%; left:57%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')= __("sign_up_mt5")
      // slide 05
      .ls-slide(data-ls='slidedelay:3500; transition2d:85;')
        img.ls-bg(src='images/banner07.jpg', alt='Slide background')
        h3.ls-l.slide_typo(style='top:40%; left: 50%;', data-ls='offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;')
           =__("page.index.Revolution in trading")
        p.ls-l.slide_typo_2(style='top:52%; left:50%; text-align: center;', data-ls='durationin:2000;delayin:1000;easingin:easeOutElastic;')
          =__("page.index.The narrowest spread in the industry")
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_01(style='top:75%; left:43%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://rev-trading.ltd/')= __("sign_up_mt4") 
        a.ls-l.button_intro_2.padding_15.custom_posi_sm_btn_02(style='top:75%; left:57%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')= __("sign_up_mt5")
    // End layerslider
  main
    .bg_
      .container.margin_60_35
        h3.main_title(style='color:#fff;')
          =__("page.index.Welcome to REV TRADING")
        p.lead.styled(style='text-align: center;')
          =__("page.index.Rev Trading is")
        .row
          .col-md-7.text-center
            img.img-responsive(src='./images/banner.jpeg', alt='')
          .col-md-5
            ul.list_ok
              li.mt-2
                h4
                h4
                  =__("page.index.You can join")
              li
                h4
                h4
                  =__("page.index.It is posible")
              li
                h4
                h4
                  =__("page.index.By issuing a")

    .bg_content
      .container.margin_120_95
        .content_center(style='max-width: 700px;margin:auto;')
          h3
            em
            =__("page.index.Sophisticated Investment Platform")
          p.lead
            =__("page.index.We are making")
          br
          a.ls-l.button_intro_2(style='top:68%; left:50%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', href=__("url.link-mt5"), target='_blank')
            =__("page.index.See details")
      // /container
      // section for deskop
    .container.margin_60_35
      h2.main_title
        em
        =__("page.index.The most attractive")
      .row
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-01')
            a
              i.icon_info
            img(src='img/01.svg', alt='')(style='width:100px')
            h3=__("page.index.The maximum leverage")
            p=__("page.index.Enables effective fund")
          // Modal
          #myModal-01.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.The maximum leverage")
                .modal-body
                  .description
                    p=__("page.index.The exact advantage")
                    p.mb-0=__("page.index.USDJPY 100")
                    p.mb-0=__("page.index.A Leverage")
                    p=__("page.index.B Leverage")
                    p=__("page.index.If you choose")
                    p=__("page.index.If you choose")
                    p=__("page.index.Even if you")
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-02')
            a
              i.icon_info
            img(src='img/02.svg', alt='')(style='width:100px')
            h3=__("page.index.Crypto-based trading")
            p=__("page.index.Never miss any")
          // Modal
          #myModal-02.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.Crypto-based trading")
                .modal-body
                  .description
                    p=__("page.index.In addition to")
                    p=__("page.index.You can turn")
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-03')
            a
              i.icon_info
            img(src='img/03.svg', alt='')(style='width:100px')
            h3=__("page.index.The fastest deposit")
            p=__("page.index.Never miss the timing")
          // Modal
          #myModal-03.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.The fastest deposit")
                .modal-body
                  .description
                    p=__("page.index.Since deposits/withdrawals")
                    p=__("page.index.In addition the commission")
      // /row
      .row
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-04')
            a
              i.icon_info
            img(src='img/icon_service_custom.svg', alt='')(style='width:100px')
            h3=__("page.index.More than 60")
            p=__("page.index.Crypto, forex, index")
          // Modal
          #myModal-04.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.More than 60")
                .modal-body
                  .description
                    p=__("page.index.Beside cryptos and forex")
                    p=__("page.index.Rev Trading offers")
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-05')
            a
              i.icon_info
            img(src='img/05.svg', alt='')(style='width:100px')
            h3=__("page.index.Pre-paid card")
            p=__("page.index.Turn your profit into")
          // Modal
          #myModal-05.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.Pre-paid card")
                .modal-body
                  .description
                    p=__("page.index.Cryptos such as")
                    p=__("page.index.The charged cryptos are")
                    p=__("page.index.For example, if you")
        .col-sm-4
          .box_service.cursor-pointer
            img(src='img/04.svg', alt='')(style='width:100px')
            h3=__("page.index.Full support")
            p=__("page.index.Multi-language support is") 
      // /row
      .row
        .col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-07')
            a
              i.icon_info
            img(src='img/06.svg', alt='')(style='width:100px')
            h3=__("page.index.MT5 mobile app")
            p=__("page.index.Trade on the go!")
          // Modal
          #myModal-07.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.MT5 mobile app")
                .modal-body
                  .description
                    p=__("page.index.Rev Trading uses MetaTrader5")
                    p=__("page.index.The platform provides")
                    p=__("page.index.Traders can access trades")
        .col-sm-4
          .box_service.cursor-pointer
            img(src='img/07.svg', alt='')(style='width:100px')
            h3=__("page.index.Fund safety")
            p=__("page.index.Secures your funds by")
        .col-sm-4
          .box_service.cursor-pointer
            img(src='img/08.svg', alt='')(style='width:100px')
            h3=__("page.index.The narrowest spread in")
            p=__("page.index.Easy to earn profit")
      // /row
      .row
        .col-sm-offset-4.col-sm-4
          .box_service.cursor-pointer(data-toggle='modal', data-target='#myModal-10')
            a
              i.icon_info
            img(src='img/09.svg', alt='', style='width:100px')
            h3=__("page.index.No additionl margin call")
            p=__("page.index.Safe NBP system")
          // Modal
          #myModal-10.modal.fade.custom-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title=__("page.index.No additionl margin call")
                .modal-body
                  .description
                    p=__("page.index.The NBP system without")
                    p=__("page.index.Events which would impact")
                    p=__("page.index.Thus, the amount of")
                    p=__("page.index.If an emergency occurs")
                    p=__("page.index.To avoid such an")
      // /row
      // section for mobile
    .bg_content(style='background-image: url(images/cryptocurrency-wallet-development-bg.png);')
      .container.margin_120(style='text-align: center;')
        h2.main_title
          em
          =__("page.index.Deposit popular cryptocurrency")
        a.ls-l.button_intro_2(style='top:68%; left:50%;white-space: nowrap;', data-ls='durationin:2000;delayin:1400;easingin:easeOutElastic;', href=__("url.link-deposit-withdraw"),target='_blank')
          =__("page.index.See details")
        .box_white.box_crypto
          .box_item.text-center
            img(src='images/btc.png', alt='', width='80')
            h3.mt-2
              | BTC
              br
              small Bitcoin
          .box_item.text-center
            img(src='images/eth.png', alt='', width='80')
            h3.mt-2
              | ETH
              br
              small Ethereum
          .box_item.text-center
            img(src='images/xrp-bg.png', alt='', width='80')
            h3.mt-2
              | XPR
              br
              small Ripple
      // /container
    // /bg_content
    .container.margin_60_35
      h3.main_title_left
        em
        =__("page.index.What makes crypto currency")
        span=__("page.index.Three Opportunities for")
      .row.add_bottom_30
          .col-sm-4
            .wrapper-card-custom
              figure
                img(src='images/trade-from-sell.png', alt='', style='max-width:100%')
              h4
               =__("page.index.You can start a")
              p=__("page.index.In leverage trading, even")
          .col-sm-4
              .wrapper-card-custom
                figure
                  img(src='images/intensity.png', alt='', style='max-width:100%')
                h4=__("page.index.Volatility Crypto")
                p=__("page.index.Markets are more volatile")   
          .col-sm-4
              .wrapper-card-custom
                figure
                  img(src='images/amount.png', alt='', style='max-width:100%')
                h4=__("page.index.Trade a greater amount")
                p=__("page.index.You can use more")
    .bg_white.mt5
      .container.margin_60_0
        .row.add_bottom_30
          .col-md-6
            img.img-responsive(src='images/mt5.jpeg', alt='')
          .col-md-6
            .wrapper_title_mt
              h3.main_title_left
                em
                | MT5
                span=__("page.index.A comfortable platform mt5")
              .wrapper_img_mt
                img.img-responsive(src='images/mt5-logo.png', alt='')
            h4.main_title_left
              em
              | MetaTrader5
            p.lead.styled
              =__("page.index.Rev Trading uses MetaTrader5 mt5")
              =__("page.index.We provide a comfortable mt5")
            ul.list_ok
              li
                h4
                  =__("page.index.Provide bank exchange rates mt5")
              li
                h4
                  =__("page.index.EA is available mt5")
              li
                h4
                  =__("page.index.Investments in crypto available mt5")
            .download-app(style='overflow: hidden;')
              a(href='https://apps.apple.com/jp/app/metatrader-5/id413251709', target='_blank')
                img(src='images/appstore.jpg', alt='', width='100%')
              a(href='https://play.google.com/store/apps/details?id=net.metaquotes.metatrader5&hl=ja', target='_blank')
                img(src='images/googleplay.jpg', alt='', width='100%')
              a(href='https://download.mql5.com/cdn/web/11606/mt5/%20revcapitalfund5setup.exe', target='_blank')
                img(src='images/downloadWindow.png', alt='', width='100%')
        .row
          .col-md-6
            //- img.img-responsive(src='images/mt4-banner.jpg', alt='')
          .col-md-6
            .wrapper_title_mt
              h3.main_title_left
                em
                | MT4
                span=__("page.index.A comfortable platform mt4")
              .wrapper_img_mt
                img.img-responsive(src='images/mt4-logo.jpg', alt='')
            h4.main_title_left
              em
              | MetaTrader4
            p.lead.styled
              =__("page.index.Rev Trading uses MetaTrader5 mt4")
              =__("page.index.We provide a comfortable mt4")
            .download-app(style='overflow: hidden;')
              a(href='https://apps.apple.com/jp/app/metatrader-4/id496212596', target='_blank')
                img(src='images/appstore.jpg', alt='', width='100%')
              a(href='https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&hl=ja', target='_blank')
                img(src='images/googleplay.jpg', alt='', width='100%')
              a(href='https://download.mql5.com/cdn/web/15864/mt4/revtrading4setup.exe', target='_blank')
                img(src='images/downloadWindow.png', alt='', width='100%')
    .bg_white
      .container.margin_60_35.margin_bot-30(style='text-align:center')
        h3.main_title
          em
          =__("page.index.You can open an")
        .row
          .col-sm-3
            .box_service_custom
              a(href='#', title='Up to 60 currency pairs')
                i
              img(src='./images/deskop-01.png', alt='')
              h3=__("page.index.Create a wallet")
          .col-sm-3
            .box_service_custom.box_service_custom_icon.box_service_custom_icon_mobile
              a(href='#', title='Pre-paid card')
                i
              img(src='./images/deskop-02.png', alt='')
              h3=__("page.index.Deposit in wallet")
          .col-sm-3
            .box_service_custom.box_service_custom_icon.box_service_custom_icon_mobile
              a(href='#', title='Site Statistic')
                i
              img(src='./images/deskop-02.png', alt='')
              h3=__("page.index.Open MT5 and deposit")
          .col-sm-3
            .box_service_custom.box_service_custom_icon.box_service_custom_icon_mobile
              a(href='#', title='Site Statistic')
                i
              img(src='./images/deskop-04.png', alt='')
              h3=__("page.index.Get started")
        a.ls-l.button_intro_2.btn-hover-1.mb-30( style="margin:0px 10px;",target='_blank', href='https://rev-trading.ltd/')
          = __("sign_up_mt4")
        a.ls-l.button_intro_2.btn-hover-1.mb-30(style="margin:0px 10px;", target='_blank', href='https://revollet.io/wallet/sign_up?token=goxiuZ2m')
          = __("sign_up_mt5")
  // /main
  #newsletter_container.location
    .container.margin_60
      .text-center
        i.ic_location.icon-location
        h3 Bonovo Road, Fomboni, Island of Moheli, Comoros Union
        a(href='mailto:support@rev-trading.net')
          i.icon-mail-alt
          |  support@rev-trading.net
  // End newsletter_container

 